
<div class="footer-bottom-area bg-dark-light section-padding-sm">
                <div class="container">
                    <div class="row widgets footer-widgets">

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-about">
                                <h5 class="widget-title">About Us</h5>
								<img src="./assets/images/logo of apple.jpeg"  class="rounded-circle" alt="Cinque Terre" width="100px" height="50" > 
								
                                <p><a href="#">Readmore...</a></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">My Account</h5>
                                <ul>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Your Account</a></li>
                                    <li><a href="#">Advanced Search</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-quick-links">
                                <h5 class="widget-title">Customer Service</h5>
                                <ul>
                                    <li><a href="#">work Policy</a></li>
                                    <li><a href="#">Compensation First</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#"> our team</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-contact">
                                <h5 class="widget-title">Contact Us</h5>
                                <ul>
                                    <li class="address" style="background-color: black;">
                                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                                        <p><a href="#">SHOP N0:3371<BR>shastriNagar<BR>Near MRO office<BR>Addagutta<BR>sec-bad.</a></p>
                                    </li>
                                    <li class="phone" style="background-color: cornsilk;">
                                        <span class="icon"><i class="fa fa-phone"></i></span>
                                        <p style="background-color: cornsilk;"><a href="#">7893669374</a></p>
                                    </li>
                                    <li class="fax">
                                        <span class="icon"><i class="fa fa-fax"></i></span>
                                        <p style="background-color: cornsilk;"><a href="#">+91 6281035170</a></p>
                                    </li>
                                    <li class="email" style="background-color: cornsilk;">
                                        <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                        <p style="background-color: cornsilk;"><a href="#">Udayspplenaveen25@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>









































            