
 <input class="form-control" id="myInput" type="text" placeholder="Search..">

<main>
    <div class="container-fluid bg-trasparent my-2 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple16.jpeg"  width="1000px"class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">sample</span> <span class="float-end price-hp">checkout</span> </div>
                        <h5 class="card-title">Are you planning for wedding then checkout it.i think its best for you to plan aa wedding with us like this.we feel honour to engage with you</h5>
                        <div class="text-center my-4"><a href="#" class="btn btn-warning">check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"><img src="./assets/images/apple13.jpeg" width="1000" class="card-img-top" alt="...">
                   <div class="label-top shadow-sm">RECIPTION</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">BOOK NOW</span> <span class="float-end"><a href="#">Example</a></span> </div>
                        <h5 class="card-title">Here we go with decorations for forture Reciptions my dear loved once.Its place where you can find out the best models for your recipitions </h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"><img src="./assets/images/apple simple birthday 2.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">birthday</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">check offer</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">Its  your birthday .Make it bright with more lights and decorations.we the AppleEvent organization will plan everything for you  belive in us. </h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/Apple reciption 3.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">marriage</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">check offer</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">Marriages are made in heaven we feel you.Then why late plan it as Heavenly made  by booking the slot with AppleEvents</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple birthday 6.jpeg" width="500px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">cradle</span> <span class="float-end "></span> </div>
                        <h5 class="card-title">Finally its cradle function to your baby.May it more specal in their life for  still years get older.Your order our Service</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple reception 5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Our day</span> <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">The magical moment in our life is the wedding.Its a recreation our world so, make it more Brighter by booking in AppleEvents</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/bride 3.jpeg" class="card-img-top" alt="...">
                    <div class="label-top"> Bride decor</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">ch€ck-out</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">Its one step towards sunshine .Haldi FUnction sign to sun sign .Happy vibes with collabarting with AppleEvents</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/friends birthday.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Suprise</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">ch€ckout</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">come near we are here!To suprise your girlfriend/boyfriend.One step to book the slot,lets together suprise the Birthday ones</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple reception 2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Happy Moments</span> <span class="float-end"><a href="#"></a></span> </div>
                        <h5 class="card-title">Dont where to start ?how to start ?Here go AppleEvents have plan to to u. just single step to do book now! </h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple Engagement 1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">Check out€</span> <span class="float-end"><a href="#">E</a></span> </div>
                        <h5 class="card-title">Its a Event Time you just be busy in our other things.We will be busy in planning the event</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple birthday 4.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">birthday</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">checkout</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title"> Confused in planning the Birthday occassion?Busy in work?no worries we have a plan to your occassion</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="./assets/images/apple reception.jpeg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">marriage</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">ch€ck out</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">Two minds two different worlds have to change their thougths will a beautiful surrounding .we Here to make your surrounding more Extra-ordinary early you haven't thought.</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




