
 <script>
     $(document).ready(function(){
  $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
    
    $(".zoom").hover(function(){
		
		$(this).addClass('transition');
	}, function(){
        
		$(this).removeClass('transition');
	});
});
    
 </script>


    <!-- Page Content -->
   <div class="container page-top">
        <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./assets/images/apple birthday 10.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple birthday 10.jpeg" class="zoom img-fluid "  alt="">
                   
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/apple11.jpeg"  class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple birthday 11.jpeg" class="zoom img-fluid"  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/friends birthday.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/friends birthday.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/apple13.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple13.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/apple Engagement 1.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple Engagement 1.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/apple16.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple16.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/apple reception.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple reception.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
            
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="./assets/images/apple bride 30.jpeg" class="fancybox" rel="ligthbox">
                    <img  src="./assets/images/apple bride 30.jpeg" class="zoom img-fluid "  alt="">
                </a>
            </div>
           
       </div>

     
      

    </div>

