<body>
    

    <h2 style="text-align:center"> ABOUT US</h2>
    <br><MARQUEE>
    <img src="./assets/images/heart-on-fire-heart.gif" class="rounded-circle" >
    </MARQUEE>
<ins>
    
     <h1>WHAT WE DO</h1></ins>
     <dl>
         <ins>
         <li>
             Exclusive for:</li></ins>
         <li>
             Wedding Decors,
             Birthday parties
         </li>
         <ins><li>
             Other Services: </li>
</ins>             <li>Family Events,College Events,Inaugrations,Festival Events,coporate Events , Exhibition Events and all type of decoration will be done.
         </li>
     </dl>

    <h2>Company Profile</h2>

          <h4 style="text-align:center;"> Hello! We Are Event Oranizers in Hyderabad</h4>
    
<ins style="color: cyan;">
 
<h1  style="text-align:center">Apple Events</h1></ins>

<img src="./assets/images/logo of apple.jpeg" class="rounded-circle" width="200px" height="200px" >


    <Dl>

        <li>This "AppleEvents" had started long ago. @<ins>AppleEvents</ins>specializes in creating expectional events for both private and corpote clients.we had done more than 400 executions.  </li>
<li>Every  OCCASION Deserves to Be Momentous.</li>
In Hyderabad and nearby towns and villages we provide the Service.<li>
    A very good service are begin provided by us in hygienic Environment.Our team will contact you once book the slot.From the beginning to end its our responsibility in palnning the Events.Are team will be very friendly towards you!listens the plans very keenly and do's what the same you have imagined.
</li><li>Glamours touch to make your life style to make your world bloom a fresh with new idea @AppleEvents 
</li>


<div class="container">
    <div id="carousel">
        <figure><img src="./assets/images/logo of apple.jpeg"></figure>
        <figure><img src="./assets/images/apple14.jpeg"></figure>
        <figure><img src="./assets/images/apple bride 30.jpeg"></figure>
        <figure><img src="./assets/images/apple13.jpeg"></figure>
        <figure><img src="./assets/images/apple16.jpeg"></figure>
        <figure><img src="./assets/images/apple17.jpeg"></figure>
        <figure><img src="./assets/images/apple18.jpeg"></figure>
        <figure><img src="./assets/images/apple19.jpeg"></figure>
        <figure><img src="./assets/images/apple20.jpeg"></figure>
    </div>
</div>


<br>
<br><br>
    
        <li>Goood planning  helps to make our dreams come true.Transforming Every Event into Mega Class Function.Make your dreams around you. </li>
<li>we always ready to tackle the unknown to delivery you a seamless experience on anything you put on the table.we completely offers the customized services that reflects the personality of our clients.we work with you closely to offer you experinces that will be etched as memorable experiences in your life.....</li>
    </Dl>

















    
    